<div class="container">
  <div class="row">
    <div class="col-12">
      <app-product-indicator-list [productsByDate]="productsByDate"
                                  [registerDateIndicatorProduct]="registerDateIndicatorProduct"
                                  (generateIndicatorsEventEmitter)="executeIndicatorProductByRegisterDate()"
                                  (filterProductByDateEventEmitter)="prepareProductsByDate($event)">
      </app-product-indicator-list>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-sale-indicator-list [salesByDate]="salesByDate"
                               [registerDateIndicatorSale]="registerDateIndicatorSale"
                               (generateIndicatorsEventEmitter)="executeIndicatorSalesByRegisterDate()"
                               (filterSaleByDateEventEmitter)="prepareSalesByDate($event)">
      </app-sale-indicator-list>
    </div>
  </div>
</div>
