<div style="margin-top: 60px">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-products-form (productEventEmitter)="submit($event)"></app-products-form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-products-list [products]="products"
                           (productEditEventEmitter)="edit($event)"
                           (productRemoveEventEmitter)="remove($event)"></app-products-list>
      </div>
    </div>
  </div>
</div>
