<div class="container">
  <div class="row">
    <div class="col">
      <app-products-form (productEventEmitter)="submit($event)"
                         (productEditEventEmitter)="edit($event)"
                         [product]="product"></app-products-form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-products-list [products]="products"
                         (productEditEventEmitter)="prepareEdit($event)"
                         (productRemoveEventEmitter)="delete($event)"></app-products-list>
    </div>
  </div>
</div>
